<nav class="page-sidebar-sec navbar-fixed-top col-sm-3 col-md-2" role="navigation">
    <div id="navbar" class="navbar-collapse collapse">
        <div class="navside-bar-details">
            <ul class="nav">
                <li *ngFor="let tab of analyzeTabArray; let i=index">
                    <a href="javascript:;" (click)="onChangeTab(i)" [ngClass]="{'active': selectedIndex == i}">{{tab.text}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="line-main-sec analyze-page pull-right col-sm-9 col-md-10 col-xs-12">
    <div class="grid-result-container" *ngIf="selectedIndex == analyzeTabArray[0].value">
        <div class="col-xs-12 analyze-page-content">
            <h2 class="title">Extract Meaning</h2>
        </div>
        <div class="col-sm-10">
            <form>
                <div class="form-group">
                    <textarea class="form-control" rows="10" cols="100" placeholder="Please enter some text" (focusout)="focusSummarize(4,extractMeaningObj.enteredText)"
                        [(ngModel)]='extractMeaningObj.enteredText' name="extract keywords enteredText" [disabled]="extractMeaningObj.textAreaDisabled"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-default" (click)="extractMeaningFile.click()" [ngClass]="{disableBtn : extractMeaningObj.fileDisabled}"> Upload File </button>
                    <input #extractMeaningFile type="file" (change)="upload(extractMeaningFile)" [disabled]="extractMeaningObj.fileDisabled">
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-primary" (click)="extractMeaningResult(extractMeaningObj)">See Results</button>
                </div>
            </form>
        </div>
        <div class="col-xs-12" *ngIf="extractMeaningObj.resultVisible">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h4><b>Raw Results</b></h4>
                    <div [innerHTML]="extractMeaningObj.jsonData"></div>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12 pull-right">
                    <h4><b>Details</b> </h4>
                    <div [innerHTML]="extractMeaningObj.formatData"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-result-container" *ngIf="selectedIndex == analyzeTabArray[1].value">
        <div class="col-xs-12 analyze-page-content">
            <h2 class="title">Compute Relatedness</h2>
        </div>
        <div class="col-sm-10">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter some text" [(ngModel)]="computeRelatednessObj.text" name="compute relatedness text">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter some text" [(ngModel)]="computeRelatednessObj.query" name="compute relatedness query">
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-primary" (click)="computeRelatednessResult(computeRelatednessObj)">See Results</button>
                </div>
            </form>
        </div>
        <div class="col-xs-12" *ngIf="computeRelatednessObj.resultVisible">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h4><b>Raw Results</b></h4>
                    <div [innerHTML]="computeRelatednessObj.jsonData"></div>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12 pull-right">
                    <h4><b>Details</b> </h4>
                    <div [innerHTML]="computeRelatednessObj.formatData"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-result-container" *ngIf="selectedIndex == analyzeTabArray[2].value">
        <div class="col-xs-12 analyze-page-content">
            <h2 class="title">Summarize</h2>
        </div>
        <div class="col-sm-10">
            <form>
                <div class="form-group">
                    <label>Input page URL</label>
                    <input type="text" class="form-control" placeholder="Enter some URL" (focusout)="focusSummarize(1,summarizeObj.inputPageURL)"
                        [(ngModel)]="summarizeObj.inputPageURL" name="summarize inputPageURL" [disabled]="summarizeObj.urlDisabled">
                </div>
                <div class="form-group">
                    <label>OR copy and paste your input in the box</label>
                    <textarea class="form-control" rows="10" cols="100" placeholder="Enter some text" [(ngModel)]='summarizeObj.pastedText' (focusout)="focusSummarize(2,summarizeObj.pastedText)"
                        name="summarized pastedText" [disabled]="summarizeObj.textAreaDisabled"></textarea>
                </div>
                <div class="form-group summarize-file"><label>OR</label>
                    <button class="btn btn-default" (click)="summerizefile.click()" [ngClass]="{disableBtn : summarizeObj.fileDisabled}"> Upload File </button>
                    <input #summerizefile type="file" (change)="upload(summerizefile)" [disabled]="summarizeObj.fileDisabled">
                </div>
                <div class="form-group">
                    <label>Type summarized sentence number</label>
                    <input type="text" class="form-control" placeholder="Enter some text" [(ngModel)]="summarizeObj.summarizedSentence" name="summarized Sentence">
                </div>
                <div class="form-group">
                    <span *ngIf="summarizeObj.ssNumberError" class="errorMessage">{{summarizeObj.ssNumberErrorMessage}}</span>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-primary" (click)="SummarizeResult(summarizeObj)">Summarize now</button>
                </div>
                <div class="form-group summarizeResult" *ngIf="summarizeObj.resultVisible"> {{summarizeObj.result}} </div>
            </form>
        </div>
    </div>
    <div class="grid-result-container" *ngIf="selectedIndex == analyzeTabArray[3].value">
        <div class="col-xs-12 analyze-page-content">
            <h2 class="title">Sentiment Analysis Demo</h2>
        </div>
        <div class="col-sm-10">
            <form>
                <div class="form-group">
                    <textarea class="form-control" rows="10" cols="100" [(ngModel)]='sentimentAnalysisObj.enteredText' (focusout)="focusSummarize(3,sentimentAnalysisObj.enteredText)"
                        name="sentiment analysis enteredText" placeholder="Please enter some text" [disabled]="sentimentAnalysisObj.textAreaDisabled"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-default" (click)="sentimentAnalysisFile.click()" [ngClass]="{disableBtn : sentimentAnalysisObj.fileDisabled}"> Upload File </button>
                    <input #sentimentAnalysisFile type="file" (change)="upload(sentimentAnalysisFile)" [disabled]="sentimentAnalysisObj.fileDisabled">
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-primary" (click)="sentimentAnalysisResult(sentimentAnalysisObj)">See Results</button>
                </div>
            </form>
        </div>
        <div class="col-xs-12" *ngIf="sentimentAnalysisObj.resultVisible">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h4><b>Raw Results</b></h4>
                    <div [innerHTML]="sentimentAnalysisObj.jsonData"></div>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12 pull-right">
                    <h4><b>Details</b> </h4>
                    <div [innerHTML]="sentimentAnalysisObj.formatData"></div>
                    <svg width="300" height="150"></svg>
                </div>
            </div>
        </div>
    </div>
</div>