.analyze-page-content form{margin-top:40px;}
.navbar-toggle .icon-bar{background:#fff;}
.popover-box p{margin-bottom:0px;}
.summarizeResult{background: #e0eaf3;padding:10px;}
.errorMessage{color: red;}
input[type="file"]{margin-top: -28px;position: relative;width: 100%;height: 35px;z-index: -1;left: 7px}
.disableBtn{background-color:#ccc;cursor: not-allowed; }
.summarize-file input[type="file"]{left: 30px}