login-body{background-color: #ffd800}
.vertical-offset-100{padding-top: 100px}
.btn-success{background-color: transparent;border-color: #87CB16;color: #87CB16;border-width: 2px}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle{background-color: transparent;color: #049F0C;border-color: #049F0C}
.btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled.focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success:disabled, 
.btn-success:disabled:hover, .btn-success:disabled:focus, .btn-success:disabled.focus, .btn-success:disabled:active, .btn-success:disabled.active, .btn-success[disabled], .btn-success[disabled]:hover, 
.btn-success[disabled]:focus, .btn-success[disabled].focus, .btn-success[disabled]:active, .btn-success[disabled].active, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success:hover, fieldset[disabled]
.btn-success:focus, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:active, fieldset[disabled] 
.btn-success.active{background-color: transparent;border-color: #87CB16}
.btn-success.btn-fill{color: #FFFFFF;background-color: #87CB16;opacity: 1;filter: alpha(opacity=100)}
.btn-success.btn-fill:hover, .btn-success.btn-fill:focus, .btn-success.btn-fill:active, .btn-success.btn-fill.active, .open > .btn-success.btn-fill.dropdown-toggle{background-color: #049F0C;color: #FFFFFF}
.btn-success.btn-fill .caret{border-top-color: #FFFFFF}
.btn-success .caret{border-top-color: #87CB16}
.login-form-box{position: absolute;left: 0;top: 0;right: 0;bottom: 0;margin: auto;width: 400px;height: 227px}
@media (max-width: 479px){.login-form-box{height: 200px;width: 100%}}
@media (max-width: 479px){.login-form-box{height: 175px}}