﻿<div class="container">
    <div class="login-form-box">
      <div class="col-xs-12">
        <div id="loginpnl" class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Please sign in</h3>
          </div>
          <div class="panel-body">
            <form  accept-charset="UTF-8" (ngSubmit)="login($event)">
              <fieldset>
                <div class="form-group">
                  <input class="form-control" id="username" [(ngModel)]="username" placeholder="username" name="username" type="text" required>
                </div>
                <div class="form-group">
                  <input class="form-control" placeholder="Password" name="password" type="password" [(ngModel)]="password" required>
                </div>
                <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                <p class="help-block" style="color:red">
                  <small> {{errorMessage}} </small>
                </p>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>