@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
body{font-family: 'Open Sans', sans-serif;background-color: #f8f8f8;padding:0;}
a:focus{outline: none}
/* ----- Dashboard header */
.dashBoard-view .dashboard-back-btn{ display: none;}    
html{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;-webkit-font-smoothing: antialiased}
.h1, .h1, h2, .h2{font-weight: 600}.h2, h2{font-size: 26px}.h3, h3{font-size: 22px}h3,h4{font-weight:400}
.nav{margin-top: 10px;}
.nav > li > a{color: #000 ;border-radius: 20px;margin: 10px 10px;}
.nav > li > a:hover{background-color: #f1f1f1;color: #000 ;border-radius: 20px;margin: 10px 10px;}
.nav > li > a.active{background-color: #f1f1f1;color: #000;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;border-radius: 20px;margin: 10px 10px;}
.page-sidebar-sec label{ display: block; color: #000}
.page-sidebar-sec{height: calc(100vh - 50px);background: #fff;overflow: auto;border:none}
.page-sidebar-sec .navbar-brand{color: #fff;margin-bottom: 5px;text-align: center}
.page-sidebar-sec .navbar-brand:hover,.page-sidebar-sec .navbar-brand:focus{color: #8f85e8}
.navside-bar-details .form-control{border: 1px solid #ccc;background: #ffffff;color: #202020}
.navside-bar-details .btn-success{border: 1px solid #ccc;background: #5CB85C;color: #fff}
.navside-bar-details .form-control::-moz-placeholder{color: #202020;opacity: 1}
.navbar-header h3{color:#fff}
.navside-bar-details .form-control:-ms-input-placeholder{color: #202020}
.navside-bar-details .form-control::-webkit-input-placeholder{color: #202020}
.heading-row{background: #47475c;color: #fff;text-align: center}
.heading-row h2{margin: 11px 0}
.siderbar-common-col label{color: #000}
.navside-bar-details{font-weight:600;}
.glyphicon {margin-right:5px; }
.btn-group {margin: 5px -15px 10px 10px;}
.header-title h3{margin: 10px 0 15px;}
.progress-label{width: 35%;}
.line-main-sec{ margin-top: 20px;}
.line {fill: none;stroke: steelblue;stroke-width: 1.5px;  }
.ledg{font: 1em sans-serif;position: absolute;text-indent: 5px;}
.ledg-row{ width: 100px;float: left; padding-left: 15px;}
.grid-section-box{ width: 900px; float: left;}

/* --- Reset css ----- */
.reset-padding{ padding: 0;}

/*-------------- Title CSS -------------- */
.tile{width: 100%;display: inline-block;box-sizing: border-box;background: #fff;padding: 10px;margin-bottom: 30px}
.tile .title{margin: 0px;padding: 5px;}
.tile.purple, .tile.blue, .tile.red, .tile.orange, .tile.green{color: #fff}
.tile.grey{background: #D0D0D0}
.tile.purple{background: #1C4E80}                               
.tile.purple:hover{background: #5698DA}
.tile.red{background: #ac193d}
.tile.red:hover{background: #7f132d}
.tile.green{background: #60Bd68}
.tile.green:hover{background: #007300}
.tile.blue{background: #2672ec}
.tile.blue:hover{background: #125acd}
.tile.orange{background: #dc572e}
.tile.orange:hover{background: #b8431f} 


/* ------- Responsive Css --------- */

@media (max-width: 1169px){

.discover-chart{
    padding-top: 20px;
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    width: 1000px;
}

}

@media (min-width: 768px){
    .page-sidebar-sec .navbar-brand{padding-left: 0}
    .page-sidebar-sec{position: fixed;top:50px;padding: 0;border-right: 1px solid #b0b0b0}
    .navbar-fixed-top.page-sidebar-sec .navbar-collapse{max-height: inherit}
}

@media (max-width: 991px){.h3, h3{font-size: 16px}}

@media (max-width: 767px) {
     body{padding:0;}
    .page-sidebar-sec .navbar-collapse{ padding: 0; }
    .search-page-sidebar .navbar-collapse{ padding: 15px;}
    .search-page-sidebar .navbar-collapse form{ margin: 0 auto; width: 60%; }
    .navbar-toggle{margin-right:0;}
    .page-sidebar-sec{ height: auto; top:50px; box-shadow: 0 5px 15px #777; -webkit-box-shadow:0 5px 15px #777;}
    .navbar-header h3{ margin: 11px 0 0 0}
    .navbar-toggle .icon-bar{background-color:#fff;}
    .navbar-header .navbar-toggle{ margin-right: 0}
    .nav-dropdown-list .navbar-nav{ margin:0}
    .line-main-sec{ margin-top:50px}
    /* ----- Heading tag CSS ---- */
   
}