﻿.trent-col h3{margin:0 0 10px 0}
.progress-list{ margin:0;padding:0 0 10px 0; list-style:none}
.progress-list li{margin-bottom:10px; clear:both;width:100%}
.progress-list  label{color:#333; float:left; padding-right:15px; font-size:13px; font-weight: 400;}
.progress-list  .sr-only-progress { margin-right:15px ;float:left}
.common-content-list h4 {font-weight: 600; margin-top: 0;}
.progress-details{ float:right;width:65%}
.trent-thumb-details .media-left img{ border:1px solid #333; border-radius:.25rem}
.download-file-status{margin: 0; padding:0}
.grid-result-container .common-content-list{margin-bottom: 35px;box-shadow: 0 0 10px #f1f1f1;padding: 10px;min-height: 160px}
.progress{height: 16px;border-radius: 15px;-webkit-border-radius: 15px;box-shadow:none;-webkit-box-shadow:none;background-image: -webkit-gradient(linear, left top, right top, from(rgba(230,230,230,0.3)),to(rgba(230,230,230,0.8)), color-stop(.2,#fff) )}
.progress-bar{box-shadow:none;-webkit-box-shadow:none;background-image: -webkit-gradient(linear, left top, right top, from(rgba(230,230,230,0.5)),to(rgba(230,230,230,0.2)), color-stop(0,rgba(255,255,255,0.7)) )}
.discover-chart{padding-top: 20px;}
@media (max-width: 767px){.reset-xs-padding{padding: 0}}