﻿<nav class="page-sidebar-sec navbar-fixed-top col-sm-3 col-md-2" role="navigation">
    <div id="navbar" class="navbar-collapse collapse">
        <div class="navside-bar-details">
            <ul class="nav">
                <li *ngFor="let tab of discoverTabArray; let i=index">
                    <a href="javascript:;" (click)="onChangeTab(i)" [ngClass]="{'active': selectedIndex == i}">{{tab.text}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="line-main-sec discover-page pull-right col-sm-9 col-md-10 col-xs-12">
    <div class="grid-result-container" *ngIf="selectedIndex == discoverTabArray[0].value">
        <div class="col-xs-12">
            <h1><strong></strong></h1>
        </div>
        <div class="col-xs-12 reset-xs-padding">
            <div class="row">
                <div class="col-sm-4 trent-col">
                    <h3 class="title tile green hidden-xs">Trending Topic</h3>
                    <h3 class="title tile green visible-xs " data-toggle="collapse" data-target="#trending-topic">Trending Topic</h3>
                    <div id="trending-topic" class="collapse in">
                        <div class="common-content-list">
                            <h4>Energy</h4>
                            <ul class="progress-list">
                                <li>
                                    <label class="progress-label">Solar</label>
                                    <div class="progress-details">
                                        <span class="sr-only-progress">30</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:30%">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <label class="progress-label">Tesla</label>
                                    <div class="progress-details">
                                        <span class="sr-only-progress">15</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width:15%">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <label class="progress-label">China</label>
                                    <div class="progress-details">
                                        <span class="sr-only-progress">09</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="9" aria-valuemin="0" aria-valuemax="100" style="width:9%">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="common-content-list">
                            <h4>Big Data</h4>
                            <ul class="progress-list">
                                <li>
                                    <label class="progress-label">Deep Learning</label>
                                    <div class="progress-details">
                                        <span class="sr-only-progress">42</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="42" aria-valuemin="0" aria-valuemax="100" style="width:42%">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <label class="progress-label">Machine Learning</label>
                                    <div class="progress-details">
                                        <span class="sr-only-progress">36</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="36" aria-valuemin="0" aria-valuemax="100" style="width:36%">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <label class="progress-label">Other</label>
                                    <div class="progress-details">
                                        <span class="sr-only-progress">27</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="27" aria-valuemin="0" aria-valuemax="100" style="width:27%">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="common-content-list">
                            <h4>Topic 3</h4>
                            <ul class="progress-list">
                                <li>
                                    <label class="progress-label">Topic 1</label>
                                    <div class="progress-details">
                                        <span class="sr-only-progress">15</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width:15%">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <label class="progress-label">Topic 2</label>
                                    <div class="progress-details">
                                        <span class="sr-only-progress">10</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <label class="progress-label">Topic 3</label>
                                    <div class="progress-details">
                                        <span class="sr-only-progress">03</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="100" style="width:3%">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 trent-col">
                    <h3 class="title tile green hidden-xs">Team Activity</h3>
                    <h3 class="title tile green visible-xs" data-toggle="collapse" data-target="#team-activity">Team Activity</h3>
                    <div id="team-activity" class="collapse in">
                        <div class="common-content-list trent-thumb-details">
                            <h4>Lisa</h4>
                            <div class="media">
                                <div class="media-left">
                                    <img src="../../assets/img/sidebar-1.jpg" class="media-object" style="width:60px" />
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Taged</h4>
                                    <h5>John Doe</h5>
                                </div>
                            </div>
                        </div>
                        <div class="common-content-list trent-thumb-details">
                            <h4>Arnold</h4>
                            <div class="media">
                                <div class="media-left">
                                    <img src="../../assets/img/sidebar-1.jpg" class="media-object" style="width:60px" />
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Commented</h4>
                                    <p>AI scientists tried to program computers to act like humans without first understanding what intelligence is and what it means to understand. They left out the most important part of building intelligent machines, the intelligence</p>
                                </div>
                            </div>
                        </div>
                        <div class="common-content-list trent-thumb-details">
                            <h4>Abel</h4>
                            <div class="media">
                                <div class="media-left">
                                    <img src="../../assets/img/sidebar-1.jpg" class="media-object" style="width:60px" />
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Sniped</h4>
                                    <p>Content 3...</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-4 trent-col">
                    <h3 class="title tile green hidden-xs">Downloads</h3>
                    <h3 class="title tile green visible-xs" data-toggle="collapse" data-target="#downloads">Downloads</h3>
                    <div id="downloads" class="collapse in">
                        <div class="download-file-status common-content-list">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center">File A</th>
                                        <th class="text-center">54</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">Date-1</td>
                                        <td class="text-center">30</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">Date-2</td>
                                        <td class="text-center">24</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="download-file-status common-content-list">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center">File B</th>
                                        <th class="text-center">44</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">Date-3</td>
                                        <td class="text-center">20</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">Date-4</td>
                                        <td class="text-center">24</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="download-file-status common-content-list">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center">File C</th>
                                        <th class="text-center">14</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">Date-5</td>
                                        <td class="text-center">10</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">Date-6</td>
                                        <td class="text-center">4</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-result-container discover-chart" *ngIf="selectedIndex == discoverTabArray[1].value || selectedIndex == discoverTabArray[2].value">
        <div class="grid-section-box">            
            <svg width="900" height="550"></svg>     
        </div>
    </div>
</div>