﻿
.dashboard-box{
    position: absolute;
    left: 50%;top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);width: 75%}

.dashboard-box .tile{cursor: pointer;}