﻿<div class="dashboard-box">
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <a (click)="Search()">
        <div class="tile purple">
          <h4 class="title text-center">Search</h4>
        </div>
      </a>
    </div>
    <div class="col-md-4 col-xs-12">
      <a (click)="Discover(2)">
        <div class="tile purple">
          <h4 class="title text-center">Discover</h4>
        </div>
      </a>
    </div>
    <div class="col-md-4 col-xs-12">
      <a (click)="analyze()">
        <div class="tile purple">
          <h4 class="title text-center">Analyze</h4>
        </div>
      </a>
    </div>
  </div>
</div>
