﻿﻿<div [ngClass]="{'wrapper' : isAuth}">
    <div class="top-header" *ngIf="isAuth">
        <a class="dashboard-back-btn" href="#" (click)="routeToDashboard()"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        <div class="col-md-11 col-sm-10 col-xs-8 left header-title">
            <h3 class="header-title">{{currentPage}}</h3>
        </div>
        <a class="col-md-1 col-sm-2 col-xs-4 text-right top-logout-btn" (click)="LogOut()"> Log out </a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <router-outlet></router-outlet>
</div>