﻿.top-logout-btn{color:#fff;cursor: pointer}
.top-logout-btn:hover, .top-logout-btn:focus,.top-logout-btn:active{ color:#fff;}
.top-header{background:#1C4E80;height:50px;padding:0 15px;display:flex;justify-content:space-between;align-items: center;position: fixed;top:0;z-index: 9;width: 100%;left:0}
.dashboard-back-btn{float: left;color:#fff;font-size: 20px;line-height: 24px}
.dashboard-back-btn:hover{color:#fff}.navside-bar-details{width: 100%;clear: both}
.font {opacity: 1.86;font-size: 13px !important;}
.header-title{color: #fff; text-align: center;}
