.check-multiple-select .selected-list{ width: 100%}
.check-multiple-select .selected-list .c-btn{ border: 1px solid #ccc;background: #ffffff;color:#202020; text-align: left}
.check-multiple-select{width:100%;}
.check-multiple-select .selected-list .c-list .c-token{ background: #202020!important}
