﻿<nav class="page-sidebar-sec navbar-fixed-top search-page-sidebar col-sm-3 col-md-2" role="navigation">

  <div id="navbar" class="navbar-collapse collapse">
    <div class="navside-bar-details ">
      <div class="siderbar-common-col ">
        <label class="search-margin-btm">Keywords or Concept</label>
        <div class="autocomplete-result">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Including" [(ngModel)]="includeKeywords" #includeKeyword (keyup.enter)="addIncludingTag(includeKeyword.value);">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" (click)="addIncludingTag(includeKeyword.value)">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </span>
          </div>
          <div>
            <span class="tag label label-info" *ngFor="let tag of includeTags">
                <span class="tag-text">{{tag}}</span>
            <a><i class="fa fa-times" aria-hidden="true" (click)="removeFromIncludeTags(tag)"></i></a>
            </span>
          </div>
        </div>
        <div class="autocomplete-result">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Excluding" [(ngModel)]="excludeKeywords" #excludeKeyword (keyup.enter)="addExcludingTag(excludeKeyword.value);">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" (click)="addExcludingTag(excludeKeyword.value)">
                  <i class="fa fa-minus" aria-hidden="true"></i>
                </button>
              </span>
          </div>
          <div>
            <span class="tag label label-info" *ngFor="let tag of excludeTags">
                <span class="tag-text">{{tag}}</span>
            <a><i class="fa fa-times" aria-hidden="true" (click)="removeFromExcludeTags(tag)"></i></a>
            </span>
          </div>
        </div>
      </div>
      <div class="siderbar-common-col nav-dropdown-list">
        <label>Sources</label>
        <ul class="nav navbar-nav">
          <li *ngFor="let source of sourceList"><label><input type="checkbox" class="form-check-input" [(ngModel)]="source.checked" [value]="source.value">{{source.name}}</label></li>
        </ul>
      </div>
      <div class="multi-search-result form-group">
        <label class="search-margin-btm">Document Types</label>
        <div class="input-group check-multiple-select">
          <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedTypes" (onSelect)="0" (onDeSelect)="0"></angular2-multiselect>
        </div>
      </div>
    </div>
    <form>
      <button type="button" class="btn btn-primary btn-block" (click)="search($event,1)">Search</button>
    </form>
  </div>

</nav>

<div class="line-main-sec search-page pull-right col-sm-9 col-md-10 col-xs-12">

  <div class="grid-result-container">
    <div class="col-xs-12 reset-xs-padding">
      <div class="col-xs-12 result-heading">
        <label class="output-result">{{resultCount}} Estimated Results</label>
        <div class="btn-group">
          <a href="" id="list" class="btn btn-default btn-sm" (click)="listView($event)"><span class="glyphicon glyphicon-th-list">
          </span>List</a> <a href="" id="grid" class="btn btn-default btn-sm" (click)="gridView($event)"><span
          class="glyphicon glyphicon-th"></span>Grid</a>
        </div>
      </div>
      <div *ngIf="grid">
        <ul class="row grid-thumb-list">
          <li class="col-md-4 col-sm-6 col-xs-12 " *ngFor="let result of results">
            <div class="thumb-details">
              <div class="col-xs-12">
                <h5><b>{{result.fileName}}</b></h5>
              </div>
              <div class="details col-xs-12">
                <p [innerHTML]="result.text"></p>
              </div>
              <div class="btn-row col-xs-12">
                <button type="button" class="btn btn-primary col-xs-3 col-xs-offset-2" (click)="analyze(result)">Analyze</button>
                <button type="button" class="btn btn-primary col-xs-4 col-xs-offset-2" (click)="download(result.fileName)">Download</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 reset-padding">
        <div *ngIf="!grid" class="list-table-box table-responsive ">
          <table class="table">
            <thead>
              <tr>
                <th style="width:20%;"><span class="glyphicon glyphicon-file"></span> FileName</th>
                <th style="width:44%;">Details</th>
                <th style="width:20%;">Term Frequency</th>
                <th style="width:16%;"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let result of results">
                <td> <span class="glyphicon glyphicon-file"></span> {{result.fileName}}</td>
                <td [innerHTML]="result.text" class="grid-desc"></td>
                <td><table>
                    <tr *ngFor="let keyWord of result.includeKeys">
                      <td>{{keyWord}} </td>
                      <td> : {{result.frequencyCount[keyWord]}}</td>  
                    </tr>
                </table></td>
                <td>
                  <button type="button" class="btn btn-primary" (click)="analyze(result)">Analyze</button>
                  <button type="button" class="btn btn-primary" (click)="download(result.fileName)">Download</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-4 pull-right text-right search-pagination">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="JavaScript:Void(0)" (click)="search($event,2)" *ngIf="isPrevBtnVisible">Previous</a></li>
            <li class="page-item"><a class="page-link" href="JavaScript:Void(0)" (click)="search($event,3)" *ngIf="isNextBtnVisible">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>