.tag{font-size: 14px;padding: 5px 10px;margin: 6px .1em 0;border-radius: 13px;font-weight: 400;background: #696969;display: inline-block;vertical-align: top}
.tag a{color:#fff;cursor:pointer;opacity: 0.6}
.tag a:hover{color:#fff;opacity: 1}
.tag.label{color: #fff}
.grid-thumb-list{padding: 0;list-style: none}
.grid-thumb-list li{margin-bottom: 20px}
.grid-thumb-list li .details{color: #fff;padding: 15px 15px;min-height: 150px;height: 150px;overflow-y: scroll;}
.grid-thumb-list li .thumb-details{border: 1px solid #508cc8;padding: 0 0 10px 0;float: left;width: 100%;border-radius: 5px}
.grid-thumb-list li .details{background: #efefef;color: #202020;border-radius: 3px 3px 0 0}
.grid-thumb-list .btn-row{padding: 10px 15px 0}
.check-multiple-select .selected-list{ width: 100%}
.check-multiple-select .selected-list .c-btn{ border: 1px solid #ccc;background: #ffffff;color:#202020; text-align: left}
.check-multiple-select{width:100%;}
.check-multiple-select .selected-list .c-list .c-token{ background: #5CB85C}
.multi-search-result .multiselect{border-radius: 4px 0 0 4px;text-align: left;width: 100%}
.multi-search-result .btn-group{width: 100%}
.multi-search-result .btn-default.active.focus,
.multi-search-result .btn-default.active:focus,
.multi-search-result .btn-default.focus:active,
.multi-search-result .btn-default:active:focus,
.multi-search-result .btn-default:active:hover,
.multi-search-result .open > .dropdown-toggle.btn-default.focus,
.multi-search-result .open > .dropdown-toggle.btn-default:focus,
.multi-search-result .open > .dropdown-toggle.btn-default:hover,
.multi-search-result .btn-default.active:hover, .btn-default.active,.btn-default:active,.multi-search-result .open > .dropdown-toggle.btn-default{background: #867dd8;color: #fff;box-shadow: none;border-color: #fff}
.multi-search-result .dropdown-menu{background: #a69cfc;width: 100%}
.multi-search-result label{color: #000}
.multi-search-result .dropdown-menu>li>a{padding: 3px 12px}
.multi-search-result .dropdown-menu>li{border-bottom: 1px solid #fff}
.multi-search-result .dropdown-menu>li:last-child{border: none}
.multi-search-result .dropdown-menu>li>a:focus,.multi-search-result .dropdown-menu>li>a:hover{color: #fff;background: #8f85e8}
.multi-search-result .dropdown-menu > .active > a,
.multi-search-result .dropdown-menu > .active > a:focus,
.multi-search-result .dropdown-menu > .active > a:hover {background: #3a3a4f}
.result-heading{text-align: right;border-bottom: 1px solid #47475c;margin:10px 0}
.result-heading .output-result{font-size: 18px;line-height: 22px;font-weight: 400}
.autocomplete-result{padding-bottom:20px}
.search-margin-btm{margin-bottom:10px;}
.search-page-sidebar .navbar-collapse{ padding: 15px; }
.nav-dropdown-list{margin-bottom:15px; clear: both}
.nav-dropdown-list .navbar-nav{width:100%;margin-bottom: 15px}
.nav-dropdown-list .navbar-nav>li{ width: 100%; margin-bottom: 10px}
.nav-dropdown-list .navbar-nav>li input[type="checkbox"]{ margin: 0 7px 0 0;vertical-align: middle;}
.navbar-default .nav-dropdown-list .navbar-nav>li>label{ font-weight: 400; vertical-align: middle ;width:100%;}
a.disabled {pointer-events: none;cursor: not-allowed;}
/* --------------------- Pagination CSS --------------------- */
.search-pagination li a{ background: #337ab7; color: #fff;}
.search-pagination .pagination>li>a:focus, 
.search-pagination .pagination>li>a:hover, 
.search-pagination .pagination>li>span:focus, 
.search-pagination .pagination>li>span:hover{background: #204d74; color: #fff;}

/* .list-table-box tr td {  min-width: 200px;} */
.list-table-box tr td .btn{ padding: 5px 8px; font-size: 13px;}

@media (max-width: 767px){
    .reset-xs-padding{padding: 0}
}